@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Hind+Madurai&display=swap');

/* Background */

.main-bg {
    background-color: #f2f2f2fa;
    height: 100%;
}


/* Navbar */

.nav-bg {
    background-color: #4f5051ad!important;
}

.navbar li a {
    display: block;
    color: #d9b637;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar li a:hover {
    color: #fafafa;
}

.fa-bars {
    color: #d9b637;
}

.navbar-toggler {
    border: 0
}


/* Mainpage */

.main-title {
    color: #494E59;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 75px;
}

.sub-title {
    color: #494E59;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 40px;
}

.mail-link,
.main-text {
    font-family: 'Hind Madurai', sans-serif;
    color: #494E59
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-img {
    width: 275px;
    height: 100%;
}


/* Modal */

.modal-content {
    font-family: 'Hind Madurai', sans-serif;
}

.mail-link {
    color: #0c0b0b;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.mail-link:hover {
    text-decoration: none;
    color: #908a94;
}


/* Card Deck */

.card-img-top {
    height: 325px;
}

.card {
    color: #f2f2f2fa;
    border: 0;
    transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
}

.card-title {
    text-align: center;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Breaks */

.break {
    width: 130px;
    height: 1.25px;
    border: 0;
    background-color: #ffffff;
}


/* Buttons */

.btn-warning {
    background-color: #d9b637;
    border-color: #d9b637;
    transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
}

.btn-warning:hover {
    background-color: #d83006;
    color: #f4f4f4;
    border-color: #d83006;
}


/* Media Quires */

@media (min-width: 576px) {
    .card-deck .card {
        margin-bottom: 15px;
    }
}